{% extends 'base.html' %}

{% block head%}
<title>ADN WebApp</title>
{% endblock%}
{% block body %}
  
<div class="menu">
  <h2>Merci de sélectionner votre utilisation : </h2>
  <p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Input custom DNA</a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
  </p>
  <div class="col">
  <div class="col">
  <div class="collapse multi-collapse" id="multiCollapseExample1">
    <div class="card card-body">
      <form method="POST">
  <input name="text">
  <input type="submit">
  </form>
    </div>
  </div>
  </div>
  <div class="col">
  <div class="collapse multi-collapse" id="multiCollapseExample2">
    <div class="card card-body">
      <a href='/results?text=None'>Generate random DNA</a>
    </div>
</div>
</div>
</div>
</div>

{% endblock %}
