{% extends 'base.html' %}

{% block head%}
<title>ADN Generator</title>

{% endblock%}

{% block dna_anim %}
<div class="dna">
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
</div>
{% endblock %}

{% block body %}
<br>
<h2>Voici les logs du site : </h2>
<div class="container">
  <p class='logs'>
    {{ logs }}
  </p>
</div>
{% endblock%}