{% extends "base.html" %}

{% block head %}
<title>ADN Generator</title>
{% endblock %}

{% block dna_anim %}
<div class="col-md-3 mt-5" style="margin-left: 15px; width: 60%;padding-left: 30px;position: relative;z-index: 100;text-align: right;">
  <a class="btn btn-dark" style="width: 50%;" href="/">Retour</a>
</div>
<div class="dna">
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
</div>
{% endblock %}

{% block body %}
  <div class="col-md-6" style="margin-top: 50px;padding: auto;text-align: center;z-index:1000;background-color:none;padding-right: 200px;">
     {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p style="text-align:center;width:auto;" class="alert alert-{{ category }}" style="width:60%;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container" style="width:auto;padding:auto;margin:auto;">
      <h2>Profile : {{ user }}</h2>
      <hr>
      <br>
      <p>(logs of user)</p>
    </div>
  </div>
{% endblock %}